Package: ocpn_draw_pi
Version: 1.4.69
Section: misc
Priority: optional
Architecture: armhf
Depends: opencpn, bzip2, gzip
Recommends: xcalib,xdg-utils
Installed-Size: 3185
Maintainer: Jon Gough
Description: ocpn_draw_pi PlugIn for OpenCPN

